readabilipy
whoosh
bs4
alembic
python-simplexml
arrow
fastapi
slowapi
uvicorn[standard]
sqlmodel
passlib[bcrypt]
python-jose
python-multipart
tweepy
#mysql-connector-python
#mysql-python
#MySQL-python
#MySQL-python-connector
#mysqlclient
